In [ ]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.utils.colab.set_colab_file_id('1-GRHtPxRZyFenIUggDZg0oGAv4Xi1wzZ')

# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

In [ ]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already up-to-date: pandas in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.5)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [ ]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7f40ce9a8978>)

Let's load the data from the CSV file into a Pandas data frame.

In [ ]:
countries_df = pd.read_csv('countries.csv')

In [ ]:
countries_df

           location continent  ...  hospital_beds_per_thousand  gdp_per_capita
0       Afghanistan      Asia  ...                        0.50        1803.987
1           Albania    Europe  ...                        2.89       11803.431
2           Algeria    Africa  ...                        1.90       13913.839
3           Andorra    Europe  ...                         NaN             NaN
4            Angola    Africa  ...                         NaN        5819.495
..              ...       ...  ...                         ...             ...
205         Vietnam      Asia  ...                        2.60        6171.884
206  Western Sahara    Africa  ...                         NaN             NaN
207           Yemen      Asia  ...                        0.70        1479.147
208          Zambia    Africa  ...                        2.00        3689.251
209        Zimbabwe    Africa  ...                        1.70        1899.775

[210 rows x 6 columns]

**Q: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [ ]:
num_countries = countries_df.shape[0]

In [ ]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [ ]:
continents = countries_df['continent'].unique()

In [ ]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: What is the total population of all the countries listed in this dataset?**

In [ ]:
total_population = countries_df['population'].sum()

In [ ]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [ ]:
most_populous_df = countries_df.sort_values(by=['population'],ascending=False).head()

In [ ]:
most_populous_df

          location      continent  ...  hospital_beds_per_thousand  gdp_per_capita
41           China           Asia  ...                        4.34       15308.712
90           India           Asia  ...                        0.53        6426.674
199  United States  North America  ...                        2.77       54225.446
91       Indonesia           Asia  ...                        1.04       11188.744
145       Pakistan           Asia  ...                        0.60        5034.708

[5 rows x 6 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [ ]:
countries_df['gdp'] = countries_df['population']*countries_df['gdp_per_capita']

In [ ]:
countries_df

           location continent  ...  gdp_per_capita           gdp
0       Afghanistan      Asia  ...        1803.987  7.022622e+10
1           Albania    Europe  ...       11803.431  3.396791e+10
2           Algeria    Africa  ...       13913.839  6.101364e+11
3           Andorra    Europe  ...             NaN           NaN
4            Angola    Africa  ...        5819.495  1.912651e+11
..              ...       ...  ...             ...           ...
205         Vietnam      Asia  ...        6171.884  6.007624e+11
206  Western Sahara    Africa  ...             NaN           NaN
207           Yemen      Asia  ...        1479.147  4.411699e+10
208          Zambia    Africa  ...        3689.251  6.782303e+10
209        Zimbabwe    Africa  ...        1899.775  2.823622e+10

[210 rows x 7 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [ ]:
country_counts_df = countries_df.groupby(['continent'])['location'].count()

In [ ]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [ ]:
continent_populations_df = countries_df.groupby(['continent'])['population'].sum()

In [ ]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [ ]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7f40c56bb240>)

In [ ]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [ ]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [ ]:
total_tests_missing = covid_data_df.total_tests.isna().sum()

In [ ]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [ ]:
combined_df = countries_df.merge(covid_data_df, on='location')

In [ ]:
combined_df

           location continent  ...  total_deaths  total_tests
0       Afghanistan      Asia  ...        1409.0          NaN
1           Albania    Europe  ...         296.0          NaN
2           Algeria    Africa  ...        1525.0          NaN
3           Andorra    Europe  ...          53.0          NaN
4            Angola    Africa  ...         109.0          NaN
..              ...       ...  ...           ...          ...
205         Vietnam      Asia  ...          35.0     261004.0
206  Western Sahara    Africa  ...           1.0          NaN
207           Yemen      Asia  ...         571.0          NaN
208          Zambia    Africa  ...         292.0          NaN
209        Zimbabwe    Africa  ...         206.0      97272.0

[210 rows x 10 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [ ]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [ ]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [ ]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [ ]:
combined_df

           location continent  ...  deaths_per_million  cases_per_million
0       Afghanistan      Asia  ...           36.194710         982.394806
1           Albania    Europe  ...          102.856349        3380.359997
2           Algeria    Africa  ...           34.776824        1029.804468
3           Andorra    Europe  ...          685.950948       15518.022390
4            Angola    Africa  ...            3.316470          83.033462
..              ...       ...  ...                 ...                ...
205         Vietnam      Asia  ...            0.359570          10.745996
206  Western Sahara    Africa  ...            1.674116        1282.373228
207           Yemen      Asia  ...           19.144391          66.250993
208          Zambia    Africa  ...           15.883415         675.317108
209        Zimbabwe    Africa  ...           13.859989         446.614587

[210 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [ ]:
highest_tests_df = combined_df.sort_values('tests_per_million',ascending=False).head(10)

In [ ]:
highest_tests_df

                 location      continent  ...  deaths_per_million  cases_per_million
197  United Arab Emirates           Asia  ...           39.128852        7233.276713
14                Bahrain           Asia  ...          111.660730       30818.361490
115            Luxembourg         Europe  ...          198.090662       12665.022301
122                 Malta         Europe  ...           29.442473        4373.339614
53                Denmark         Europe  ...          108.076323        2968.645954
96                 Israel           Asia  ...          111.951408       14157.289533
89                Iceland         Europe  ...           29.304029        6215.384615
157                Russia         Europe  ...          119.327539        6886.653091
199         United States  North America  ...          561.155633       18472.377957
10              Australia        Oceania  ...           26.000121        1016.592979

[10 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [ ]:
highest_cases_df = combined_df.sort_values('cases_per_million',ascending=False).head(10)

In [ ]:
highest_cases_df

          location      continent  ...  deaths_per_million  cases_per_million
155          Qatar           Asia  ...           69.071800       41375.743650
14         Bahrain           Asia  ...          111.660730       30818.361490
147         Panama  North America  ...          470.477208       21805.112117
40           Chile  South America  ...          593.423100       21695.671982
162     San Marino         Europe  ...         1237.550828       21657.139490
9            Aruba  North America  ...          112.395332       20708.839893
105         Kuwait           Asia  ...          125.276222       20249.789079
150           Peru  South America  ...          887.393445       20121.318048
27          Brazil  South America  ...          582.331314       18808.224105
199  United States  North America  ...          561.155633       18472.377957

[10 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Detected Colab notebook...
[jovian] Uploading colab notebook to Jovian...
[jovian] Committed successfully! https://jovian.ml/csendranshi/pandas-practice-assignment

'https://jovian.ml/csendranshi/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [ ]:
highest_deaths_df = combined_df.sort_values('deaths_per_million',ascending=False).head(10)

In [ ]:
highest_deaths_df

           location      continent  ...  deaths_per_million  cases_per_million
162      San Marino         Europe  ...         1237.550828       21657.139490
150            Peru  South America  ...          887.393445       20121.318048
18          Belgium         Europe  ...          854.040375        7404.645676
3           Andorra         Europe  ...          685.950948       15518.022390
177           Spain         Europe  ...          624.406705       10256.790198
198  United Kingdom         Europe  ...          611.525168        4988.892850
40            Chile  South America  ...          593.423100       21695.671982
97            Italy         Europe  ...          587.097697        4490.684602
27           Brazil  South America  ...          582.331314       18808.224105
182          Sweden         Europe  ...          576.279276        8370.109919

[10 rows x 13 columns]

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2